[package]
name = "minigrep"
version = "0.1.0"
edition = "2024"
[profile.dev]
opt-level = 0

[profile.release]
opt-level = 3

[lib]
path="src/lib.rs"

[[bin]]
name="minigrep"
path="src/main.rs"

[dependencies]
